body {
    min-width: 250px;
}

.btn {
    display: block;
    border: none;
    background-color: transparent;
}


.form__button  {
    padding: 5px 15px;
    border: 1px solid #333;
    text-align: center;
    cursor: pointer;
}

.list {
    display: flex;
    flex-direction: column;
    padding: 0px;
    list-style: none;
    gap: 10px;
}

.list__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
    background-color: #eee;
    cursor: pointer;
}
.list__btn {
    padding: 10px;
    cursor: pointer;
    transition: all .2s ease;
}
.list__btn:hover {
    background-color: orangered;
}
/* .list__item:hover {
    background-color: #333;
} */



footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}

.footer__btn--enable,
.footer__btn--disable {
    padding: 5px;
    font-size: 12px;
    text-transform: uppercase;
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;
}